/* Style pour les mentions légales */
.mentions-legales-container {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: rgba(245, 238, 238, 0.8); /* Fond semi-transparent noir */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left; /* Alignement du texte à gauche */
    border-radius: 10px; /* Coins arrondis */
}

.mentions-legales-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.mentions-legales-button {
    padding: 10px 20px;
    background-color: #fff; /* Bouton blanc sur fond noir */
    color: #333; /* Texte en noir sur bouton blanc */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mentions-legales-button:hover {
    background-color: #343a40; /* Légère variation de couleur au survol */
}

.mentions-legales-content {
    margin-bottom: 30px;
}

.mentions-legales-section {
    margin-bottom: 30px;
}

.mentions-legales-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.mentions-legales-paragraph {
    font-size: 16px;
    line-height: 1.5;
}

.mentions-legales-list {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 20px;
}