.card-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Espacement entre les cartes */
}

.card {
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 87, 51);
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  color: var(--primary-color);
}

.card-description {
  color: var(--text-color);
  line-height: 1.5;
}

.bouton {
  margin-bottom: 1vh;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bouton:hover {
  background-color: #FF5733; /* Bleu royal */
}