:root {
  --primary-color: #BB86FC; /* Violet pastel */
  --secondary-color: #03DAC6; /* Cyan clair */
  --background-color: #121212; /* Noir profond */
  --text-color: #FFFFFF; /* Blanc */
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Position relative pour les formes géométriques */
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.card {
  background-color: #1F1F1F; /* Gris foncé */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1E90FF; /* Bleu royal */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #333;
  }
}
